* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0px;
    color: #222222;
    font-family: 'Goudy Bookletter 1911', serif;
    text-align: center;
    
}

main.poem {
    background: url("images/foto-con-papa.jpg") ;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px;
}

main.tarjeta {
    width: 90%;
    /* max-width: 700px; */
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('images/patron.png');
    padding-top: 50px;
    background-size: 200px; 
    background-repeat: repeat-x;
    background-position: top left; 
}

img.foto {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border: 1px solid #182431;
    padding: 5px;
}

h1{
    font-size: 48px;
}

h1.tarjeta,
p.nombre {
    font-family: 'Parisienne', serif;
    font-size: 2rem;
    font-weight: 400;
    color: #182431;
    margin: 0;
}

p{
    font-size: 18px;
    line-height: 1.8;
}

p.fecha {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 0;
}

div.lugar {
    margin: 40px 0;
}

@media (min-width:650px) {
    main.tarjeta {
        display: flex;
        flex-direction: row;
    }
    h1.tarjeta,
    p.nombre {
        font-size: 3rem;
    }
    img.foto {
        width: 400px;
        height: 400px;
        padding: 10px;
    }
    div.derecha {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 500px;
        padding-left: 2em;
    }
}